
    <main class="container"> 
      <h1>Enviar Arquivo </h1> (<strong> Ambiente </strong>: <%- data.ambiente %>)
      
      <div class="row">
        <div class="col-md-8 d-flex align-items-center">
          <form action="/file-upload" name="upload" method="post" enctype="multipart/form-data" onsubmit="enviar();">
            <div class="custom-file" id="customFile" lang="es">
              <input type="file" class="custom-file-input" id="imageUpload" name="imageUpload" accept="image/*" aria-describedby="fileHelp" required>
              <label class="custom-file-label" for="exampleInputFile">
                Select file...
              </label>
            </div>

            <div>
              <button type="submit" name="enviar" id="btn-enviar">Enviar Foto</button>
              <div class="alert alert-primary d-none" role="alert">
                Fazendo Upload...
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  
    <script>

      function enviar() {
        document.querySelector('#btn-enviar').disabled=true
        document.querySelector('.alert').classList.remove('d-none')
        document.forms["upload"].submit();
        return false;
      }
    </script>